.botao-bickraft {
  display: inline-block;
  padding: 10px 28px;
  background: linear-gradient(#ffbf00, #f2a50c);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #493415;
  font: 600 1rem/1.35 "Poppins", sans-serif;
  margin-bottom: 20px;
  margin-top: -20px;
  border: none;
  cursor: pointer;
  align-items: center;
}

.botao-bickraft:hover {
  background: linear-gradient(#ffb60d, #e59317);
}

.link {
  display: inline-block;
  color: white;
  font: 500 1.5rem/1.5 "poppins", sans-serif;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}

.link:hover {
  color: black;
}

.botao-animais {
  display: inline-block;
  padding: 10px 28px;
  background: #fb5;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #222;
  font-family: "IBM Plex Mono", Monospace;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
  margin-top: -20px;
  max-width: max-content;
  border: none;
  cursor: pointer;
}

.botao-animais:hover {
  background: #e54;
}

.botao-flexblog {
  flex: 1 1 260px;
  font-family: "Nunito", Arial, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
  background: #2c70ff;
  color: white;
  margin: 0;
  cursor: pointer;
  border: 0px;
  padding: 15px 10px;
}

.botao-flexblog:hover {
  background: #122ab2;
}

.botao-curriculodjow {
  display: inline-block;
  padding: 10px 28px;
  background: #0d667a;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #94bcc5;
  font: 400 1.125rem/1.35 "Spectral", sans-serif;
  margin-bottom: 20px;
  margin-top: -20px;
  border: none;
  cursor: pointer;
  align-items: center;
}

.botao-curriculodjow:hover {
  background: rgba(9, 80, 96, 1);
}

.botao-dogs {
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: #fb1;
  color: #764701;
  min-width: 8rem;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.1s;
}
.botao-dogs:hover,
.botao-dogs:focus {
  outline: none;
  box-shadow: 0 0 0 3px #fea, 0 0 0 4px #fb1;
}

@media (max-width: 600px) {
  .botao-animais a {
    padding: 12px 16px;
    font-size: 1rem;
  }
  .botao-bickraft a {
    padding: 12px 16px;
    font-size: 1rem;
  }
  .botao-flexblog a {
    padding: 11px 16px;
    font-size: 1rem;
  }
  .botao-dogs a {
    padding: 11px 16px;
    font-size: 1rem;
  }
}
