.experiencia {
  background: linear-gradient(to right, rgba(67, 4, 106, 1), rgba(1, 0, 56, 1));
}

.experiencia-container {
  max-width: 1200px;
  grid-template-columns: 1fr 2fr;
  padding: 40px 20px;
  margin: 0% auto;
  display: grid;
  gap: 50px;
}

.experiencia .subtitulo {
  background: linear-gradient(
    to right,
    rgba(29, 95, 218, 1),
    rgba(30, 238, 202, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 4rem;
}

.experiencia-texto {
  font-size: 1.25rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 20px;
  color: #939393;
}

.experiencia-texto strong {
  color: #fff;
}

.empresa {
  grid-template-columns: 1fr 1fr;
  display: grid;
  padding: 20px;
  background: #adadad;
  margin-bottom: 20px;
  position: relative;
  gap: 10px 20px;
  clip-path: polygon(
    0 0,
    calc(100% - 30px) 0,
    100% 30px,
    100% 100%,
    30px 100%,
    0 calc(100% - 30px)
  );
}

.empresa::before {
  content: "";
  display: block;
  width: 40px;
  height: 10px;
  background: linear-gradient(#a153e5, #b220be);
  position: absolute;
  top: 20px;
  left: -30px;
}

.empresa-ano {
  left: 180px;
  top: 20px;
  position: absolute;
  line-height: 1.33;
  color: #525252;
  font-size: 0.875rem;
}

.empresa-nome {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 10px;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #c7c6c8;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experiencia-container {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .experiencia .subtitulo {
    background: linear-gradient(
      to right,
      rgba(29, 95, 218, 1),
      rgba(30, 238, 202, 1)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2rem;
  }

  .experiencia-texto {
    font-size: 1rem;
  }

  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
