.portifolio {
  background: linear-gradient(to right, rgba(67, 4, 106, 1), rgba(1, 0, 56, 1));
}

.portifolio-container {
  max-width: 1200px;
  grid-template-columns: 1fr 2fr;
  padding: 120px 20px;
  margin: 0% auto;
  display: grid;
  gap: 100px;
}

.portifolio .subtitulo {
  background: linear-gradient(
    to right,
    rgba(29, 95, 218, 1),
    rgba(30, 238, 202, 1)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 4rem;
}

.portifolio-texto {
  font-size: 1.25rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 20px;
  color: #939393;
}

.portifolio-texto strong {
  color: #fff;
}

.portifolio-conteudo {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
  margin: 20px;
}

.portifolio-lista {
  grid-template-columns: 1 / 2;
  display: grid;
  flex-wrap: wrap;
  gap: 20px;
}

.portifolio-exemplo::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: linear-gradient(#a153e5, #b220be);
  position: relative;
}

.portifolio-exemplo {
  grid-template-columns: 1fr 1fr;
  flex: 200px;
  background: #adadad;
  display: grid;
  flex-direction: column;
  position: relative;
  overflow: visible;
  clip-path: polygon(
    0 0,
    calc(100% - 30px) 0,
    100% 30px,
    100% 100%,
    30px 100%,
    0 calc(100% - 30px)
  );
}

.portifolio-exemplo .site-imagem {
  grid-column: 1;
  width: 100%;
  border-radius: 6px;
}
.site-imagem {
  margin: 20px;
}

.portifolio-conteudo {
  grid-column: 2;
}

.portifolio-site-texto {
  display: flex;
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
  margin-left: 20px;
}

.portifolio-conteudo button {
  margin: 20px;
}

@media (max-width: 800px) {
  .portifolio-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 30px;
  }
  .portifolio .subtitulo {
    background: linear-gradient(
      to right,
      rgba(29, 95, 218, 1),
      rgba(30, 238, 202, 1)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2rem;
  }
  .portifolio-texto {
    font-size: 1rem;
  }
}
